<script defer src="/js/index.js"></script>

<div>{{>header}}</div>



<h3> Добро пожаловать{{#if user}}, {{user.name}}{{/if}}! </h3>

<div>{{>calend}}</div>

<div>{{>drugs}}</div>


</div>
{{> footer}}


