<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script defer src="/js/application.js"></script>

  <title> Социальная аптека </title>
</head>

<body>
{{> navBar}}
<h1> Социальная аптека </h1>
{{{body}}}


</body>

</html>
