<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script defer src="/js/application.js"></script>

  <title>Broccoli Blog</title>
</head>

<body>
  <header role="banner" class="mar-t-5 pad-t-2 pad-b-4 pad-s-1 wrap-float bg-white">
    <div class="max-w-700 center wrap-float">
      <nav class="clearfix mar-b-1">
        <ul class="no-bullets no-margin no-padding right">
          <li class="pipe-separate t-light-green left"><a href="/">Home</a></li>
            {{#if user}}
                <li class="pipe-separate t-light-green left"><a href="/user/logOut">LogOut</a></li>
            {{else}}
                <li class="pipe-separate t-light-green left"><a href="/user/signUp">SignUp</a></li>
                <li class="pipe-separate t-light-green left"><a href="/user/signIn">SignIn</a></li>
            {{/if}}
        </ul>
      </nav>

      <div class="logo-container">
        <img class="logo" src="/images/logo.png" class="center block">
        <h1>Broccoli Blog</h1>
      </div>
    </div>
  </header>
  <div class="bg-dk-green pad-t-2 pad-s-1 pad-b-8 mar-b-16 c-white">
    <div class="max-w-700 center">
      {{{body}}}
    </div>
  </div>
</body>

</html>
