<div class="row">
    <div class="col">
        <form action="/account/signup" method="post" id="signingUp">
            <div class="mb-3">
                <label for="name" class="form-label"> Имя пользователя </label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label"> Email </label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label"> Пароль </label>

                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary"> Зарегистрироваться </button>
        </form>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/account/signin"> Уже зарегистрированы? </a>
    </div>
    </div>
</div>
<script  defer src="/js/signUp.js"></script>
