<div>{{>header}}</div>
<div class="row">
    <div class="col">
        <form action="/account/signin" method="post">
            <div class="mb-3">
                <label for="email" class="form-label"> Email </label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="email" class="form-control" id="email" name="email" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label" placeholder="Ваш пароль..." > Пароль </label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary"> Войти </button>
        </form>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/account/signup"> Еще не зарегистрированы? </a>
    </div>
</div>
